<template>
<b-list-group>
    <transition-group name="zoom" mode="out-in">
        <b-list-group-item v-for="issue in issues"
                           :key="issue.id"
                           style="animation-duration: 0.3s"
                           class="mb-3"
        >
            <IssueItem :issue="issue"/>
        </b-list-group-item>
        <b-list-group-item v-if="!issues.length" :key="-1" style="animation-duration: 0.3s">
            No issues
        </b-list-group-item>
    </transition-group>
</b-list-group>
</template>

<script>
import { STATUS_CLOSED, STATUS_OPEN, STATUS_PENDING } from '~common/lib/statuses';
import IssueItem from '~client/components/IssueItem';

export default {
  name: 'IssuesList',
  components: { IssueItem },
  props: {
    status: {
      type: Number,
      required: true,
      validate(value) {
        return [STATUS_OPEN, STATUS_CLOSED, STATUS_PENDING].includes(value);
      },
    },
  },
  computed: {
    issues() {
      return this.$store.getters.issuesByStatus[this.status] || [];
    },
  },
};
</script>

<style scoped>
    .zoom-leave-active {
        height: 0;
        position: absolute;
    }
</style>
