<template>
    <div>
        <h6 class="text-secondary">#{{issue.id}} - {{issue.title}}</h6>
        <p>
            {{issue.description}}
        </p>
        <div class="row justify-content-end">
            <div class="col-auto">
                <b-btn @click="setPending(issue)"
                       id="set-pending-button"
                       v-if="allowSetPending">
                    Set pending
                </b-btn>
                <b-btn @click="setClosed(issue)"
                       id="set-closed-button"
                       v-if="allowClose">
                    Close
                </b-btn>
            </div>
        </div>

    </div>
</template>

<script>
import { canChangeStatus, STATUS_CLOSED, STATUS_PENDING } from '~common/lib/statuses';

export default {
  name: 'IssueItem',
  props: {
    issue: {
      type: Object,
    },
  },
  computed: {
    allowSetPending() {
      return canChangeStatus(this.issue, STATUS_PENDING);
    },
    allowClose() {
      return canChangeStatus(this.issue, STATUS_CLOSED);
    },
  },
  methods: {
    setPending(issue) {
      return this.$store.dispatch('setPending', issue.id);
    },
    setClosed(issue) {
      return this.$store.dispatch('setClosed', issue.id);
    },
  },
};
</script>

<style scoped>

</style>
