<template>
    <b-modal id="create-issue-modal"
             :title="modalTitle"
             :visible="visible" @change="closeModal"
    >
        <b-form v-if="$store.state.issue">
            <b-form-group id="new-issue-title-group"
                          label="Issue title"
                          label-for="new-issue-name"
            >
                <b-form-input id="new-issue-name"
                              name="title"
                              v-validate.immediate="'required|min:6'"
                              v-model="issueTitle"
                              :state="!errors.has('title')"
                              placeholder="New issue name"
                              required
                >
                </b-form-input>
                <b-form-invalid-feedback>
                    {{ errors.first('title') }}
                </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group id="new-issue-description-group"
                          label="Issue description"
                          label-for="new-issue-description"
            >
                <b-form-textarea id="new-issue-description"
                                 name="issue_description"
                                 v-model="issueDescription"
                                 placeholder="New issue description"
                                 required
                >
                </b-form-textarea>
            </b-form-group>
        </b-form>

        <template slot="modal-footer">
            <div class="w-100">
                <b-button type="submit"
                          id="new-issue-submit-form-button"
                          variant="primary"
                          class="float-right"
                          :disabled="!!errors.count()"
                          @click="saveIssue($store.state.issue)"
                >
                    Create
                </b-button>
            </div>
        </template>
    </b-modal>
</template>

<script>
export default {
  name: 'IssueModal',
  model: {
    event: 'close',
    prop: 'visible',
  },
  props: {
    visible: Boolean,
  },
  methods: {
    setIssueProp(prop, value) {
      return this.$store.dispatch('setIssueProp', { prop, value });
    },
    async saveIssue(issueData) {
      try {
        if (issueData.id) {
          await this.$store.dispatch('updateIssue', issueData);
        } else {
          await this.$store.dispatch('createIssue', issueData);
        }
        return this.closeModal();
      } catch (e) {
        return null;
      }
    },
    closeModal() {
      this.$emit('close');
    },
  },
  computed: {
    issue() {
      return this.$store.state.issue;
    },
    modalTitle() {
      return this.issue && this.issue.id ? 'Edit issue' : 'Create new issue';
    },
    issueTitle: {
      get() {
        return this.$store.state.issue.title;
      },
      set(title) {
        return this.setIssueProp('title', title);
      },
    },
    issueDescription: {
      get() {
        return this.$store.state.issue.description;
      },
      set(description) {
        return this.setIssueProp('description', description);
      },
    },
  },
};
</script>

<style scoped>

</style>
