<template>
    <div class="notifications-container">
        <transition-group name="fadeDown" mode="out-in">
            <div v-for="notification in $store.state.ui.notifications"
                 :key="notification.id"
                 style="animation-duration: .15s;"
            >
                <div
                        @click="dismiss(notification)"
                        class="notification text-white"
                        :class="`bg-${notification.type}`"
                >
                    {{ notification.message }}
                </div>
            </div>

        </transition-group>
    </div>

</template>

<script>
export default {
  name: 'TheAppNotification',
  methods: {
    dismiss({ id }) {
      this.$store.dispatch('ui/dismissNotification', id);
    },
  },
};
</script>

<style scoped>
    .notifications-container {
        position: fixed;
        right: 1.5rem;
        top: 2rem;
    }
    .notification {
        background: black;
        padding: 0.8rem 1.2rem;
        border-radius: 0.2rem;
        min-width: 20rem;
        margin-bottom: 0.5rem;
    }
</style>
