<template>
    <div>
        <IssueModal v-model="newIssueDialog"/>
        <b-nav :align="'right'">
            <b-nav-item float="left">
                <b-input placeholder="Filter issues"
                         type="search"
                         @input="setFilterValue"
                         :value="$store.state.filterValue"
                />
            </b-nav-item>
            <b-nav-item>
                <b-btn variant="success" @click="createNewIssue()">
                    Create new issue
                </b-btn>
            </b-nav-item>
        </b-nav>
        <b-row v-if="$store.state.issues">
            <b-col>
                <h5 class="mt-4 mb-4">Open issues</h5>
                <IssuesList :status="STATUS_OPEN"/>
            </b-col>
            <b-col>
                <h5 class="mt-4 mb-4">Pending issues</h5>
                <IssuesList :status="STATUS_PENDING"/>
            </b-col>
            <b-col>
                <h5 class="mt-4 mb-4">Closed issues</h5>
                <IssuesList :status="STATUS_CLOSED"/>
            </b-col>
        </b-row>

    </div>
</template>

<script>
import IssuesList from '~client/components/IssuesList';
import IssueModal from '~client/components/IssueModal';
import { STATUS_PENDING, STATUS_CLOSED, STATUS_OPEN } from '~common/lib/statuses';

export default {
  name: 'Issues',
  components: {
    IssueModal,
    IssuesList,
  },
  data() {
    return {
      STATUS_PENDING,
      STATUS_CLOSED,
      STATUS_OPEN,
      newIssueDialog: false,
    };
  },
  mounted() {
    return this.$store.dispatch('loadIssues');
  },
  methods: {
    async createNewIssue() {
      await this.$store.dispatch('newIssue');
      this.newIssueDialog = true;
    },
    async setFilterValue(value) {
      await this.$store.dispatch('setFilterValue', value);
    },
  },
};
</script>

<style scoped>

</style>
