<template>
    <div class="container-fluid min-vh-100">
        <div class="row justify-content-center min-vh-100">
            <div class="col-auto align-self-center">
                <slot/>
            </div>
        </div>
    </div>
</template>
<style>

</style>
