<template>
  <div id="app" class="min-vh-100">
    <TheAppNotification/>
    <component :is="layout">
    <router-view/>
    </component>
  </div>
</template>
<script>

import TheAppNotification from '~client/components/TheAppNotification';

export const defaultLayout = 'default';

export default {
  components: { TheAppNotification },
  computed: {
    layout() {
      const { layout } = this.$route.meta;
      if (layout) {
        return `layout-${layout}`;
      }
      return `layout-${defaultLayout}`;
    },
  },
};


</script>
<style>
</style>
